@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  src: url('public/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('public/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('public/fonts/Ubuntu-Medium.ttf') format('truetype');
}

:root {
  --primari-color: #ffffff;
  --secondary-color: #004091;
  --third-color: #b8311e;
  --fourth-color: #d68285;
  /* --higligt: #ffc700; */
  /* color-scheme: light dark; */
  font-family: 'Ubuntu';
  scroll-behavior: smooth;
}

.p-color {
  background-color: var(--primari-color);
}
.s-color {
  background-color: var(--secondary-color);
  color: #004091;
}
.t-color {
  background-color: var(--third-color);
}
.f-color {
  background-color: var(--fourth-color);
}
.highlight {
  background-color: var(--higligt);
}

.bg-conic {
  --color: #8cbbf2;
  background: repeating-conic-gradient(
    at 50% 103%,
    var(--secondary-color) 0 5deg,
    var(--color) 5deg 10deg
  );
}
