---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/Navbar.astro'
import Hero from '@/components/Hero.astro'
import Schedule from '@/components/Schedule.astro'
import Discount from '@/components/Discount.astro'
import Merch from '@/components/Merch.astro'
import Location from '@/components/Location.astro'
import Ticket from '@/components/Ticket.astro'
import Info from '@/components/Info.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="Asia Gourmet">
  <header class="mx-auto max-w-[1550px]">
    <Navbar />
    <Hero />
  </header>
  <main
    class="mx-auto flex max-w-[1550px] flex-col gap-12 overflow-hidden px-4 sm:gap-16 md:gap-24 lg:gap-32">
    <Schedule />
    <Discount />
    <Merch />
    <Location />
    <Ticket />
    <Info />
    <Footer />
  </main>
</Layout>
