---
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/Main.astro'
import Merch from '@/components/Merch.astro'
import Location from '@/components/Location.astro'
import Ticket from '@/components/Ticket.astro'
import Data from '@/components/Data.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title='Asia Gourmet'>
    <main>
        <Main />
        <Merch />
        <Location />
        <Ticket />
        <Data />
        <Footer />
    </main>
</Layout>
