---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/Navbar.astro'
import Hero from '@/components/Hero.astro'
import Schedule from '@/components/Schedule.astro'
import Discount from '@/components/Discount.astro'
import Ticket from '@/components/Ticket.astro'
import Merch from '@/components/Merch.astro'
import Location from '@/components/Location.astro'
import Map from '@/components/Map.astro'
import Info from '@/components/Info.astro'
import Contact from '@/components/Contact.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="Asia Gourmet">
  <header class="relative flex h-[60rem] flex-col">
    <nav class="bg-primary p-4">
      <Navbar />
    </nav>
    <section class="flex-grow px-4">
      <Hero />
    </section>
    <!-- <img
      style="top: 0px; left: 0px; position: absolute; max-height: calc(-16rem + 100vh); overflow: hidden; z-index: 1; height: auto; transition: transform 0.5s ease 0s; transform-origin: center top; transform: scale(1);"
      loading="lazy"
      src="public/desk.svg"
      alt="desk"
      /> -->
    <img
      class="absolute bottom-0 left-0 -z-20 h-full w-full object-cover"
      loading="lazy"
      src="public/desk.svg"
      alt="desk"
    />
  </header>
  <main class="">
    <section class="px-4 py-12">
      <Schedule />
    </section>
    <section class="bg-dangerRed p-4">
      <Discount />
    </section>
    <section class="bg-primary px-4">
      <Ticket />
    </section>
    <section class="px-4 py-12">
      <Merch />
    </section>
    <section class="bg-primary px-4 py-12">
      <Location />
    </section>
    <section>
      <Map />
    </section>
    <section class="px-4 py-12">
      <Info />
    </section>
    <section class="bg-softblue px-4 py-12">
      <Contact />
    </section>
  </main>
  <footer class="bg-primary px-4 py-12">
    <Footer />
  </footer>
</Layout>
