---
import data from "@/data/cards.json";
---

<section>
    <h1>Welcome</h1>
    {data.map(resp => (
            <div>
            <b>{resp.id}</b>
            <h3>{resp.title}</h3>
            <img src={resp.img} alt="ticket"></img>
            <p>{resp.info}</p>
            <button>COMPRAR TICKET</button>
            </div>
            )
            )
    }
</section>