---
import data from '@/data/cards.json'
---

<section class="flex flex-col gap-10 md:grid md:grid-cols-3">
  {data.map(resp => (
      <div class="bg-white flex flex-col rounded-lg p-8">
        <h3 class="text-primary">{resp.title}</h3>
        <div class="relative">
        <div class="absolute -z-10 top-0 w-80 h-80 rounded-full bg-primary"></div>
        <img src={resp.img} alt="ticket" class=""/>
          </div>
        <ul class="flex flex-col justify-center">{resp.info.map(inf=>(<li class="text-primary">{inf}</li>))}</ul>
        <br>
        <button class="mx-auto block rounded-md bg-highlight py-2 font-bold uppercase sm:px-28">COMPRAR</button>
      </div>
    ))
    }
</section>

