---
import data from "@/cards.json";
/*const data= await response.json()
const data= await response.json();
    console.log(data);*/

---

<section>
    {data.map(resp => (
            <div>
            <b>{resp.id}</b>
            <h3>{resp.title}</h3>
            <img src={resp.img} alt="ticket"></img>
            <p>{resp.info}</p>
            <button>COMPRAR TICKET</button>
            </div>
        ))}
</section>