---
import Button from './Button.astro'
---

<div class="bg-softblue text-2xl font-bold text-primary">
  <div>
    <h2>DEJANOS TU MAIL</h2>
    <p class="text-sm">
      Y recibi todas las novedades sobre el festival y los invitados
    </p>
  </div>
  <div class="rounded-md">
    <form class="input">
      <input
        type="text"
        placeholder="email"
        class="mx-auto block rounded-md bg-skyblue py-2 sm:px-28"
      />
    </form>
    <Button name="Suscribir" display="w-full" />
  </div>
</div>
