---
import Button from '@/components/Button.astro'
---

<div
  class="container mx-auto flex flex-col justify-center gap-10 text-primary md:flex-row md:items-center md:gap-32">
  <div>
    <h2 class="mb-6 text-center text-4xl font-bold">DEJANOS TU MAIL</h2>
    <p class="text-center md:text-left md:text-xl">
      Y recibi todas las novedades sobre <br /> el festival y los invitados
    </p>
  </div>
  <div class="flex-grow">
    <form class="input flex">
      <input
        type="text"
        placeholder="@email"
        class="w-full rounded-s-md bg-skyblue px-4 outline-none"
      />
      <Button name="Suscribirme" display="rounded-s-none" />
    </form>
  </div>
</div>
