<section class='data-Container'>
	<div class='info'>
		<h2>¿TE QUEDO ALGUNA DUDA?</h2>
	</div>
	<div class='contact'>
		<h2>DEJANOS TU MAIL</h2>
		<p>Y recibi todas las novedades sobre el festival y los invitados</p>
		<form action=''></form>
		<button class='uppercase'>Suscribir</button>
	</div>
</section>
