---

---

<section
  class="aling-center flex justify-center gap-5 bg-dangerRed text-backGround"
  id="merch">
  <h2>
    <span
      class="flex-grow text-7xl font-extrabold uppercase text-amber-300 drop-shadow-lg"
      >20% <br /> Descuento</span
    >
  </h2>
  <p class="flex-grow text-4xl">
    En todo el <span class="font-bold">merchandising oficial</span> sacando tus entradas
    anticipadas
  </p>
</section>
