---

---

<section class="bg-dangerRed font-bold text-backGround" id="merch">
  <h2>
    <span class="uppercase">20% Descuento</span>
  </h2>
  <p>
    En todo el <span class="font-bold">merchandising oficial</span> sacando tus entradas
    anticipadas
  </p>
</section>
