---

---

<section class="grid grid-cols-6 justify-center bg-primary" id="faq">
  <img class="h-20" src="fideos.svg" alt="fideos" />
  <div class="logo">
    <p class="text-white">Copyright 2023</p>
    <img class="h-20" src="logo.svg" alt="logo" />
    <img src="ramenvacio.svg" alt="plato" />
  </div>
  <div class="Info">
    <h4 class="text-white">FESTIVAL</h4>
    <ul class="text-white">
      <li><a href=""></a>programa</li>
      <li><a href=""></a>entradas</li>
      <li><a href=""></a>Merchandising</li>
    </ul>
  </div>
  <div class="Info">
    <h4 class="text-white">INFORMACIÓN</h4>
    <ul class="text-white">
      <li><a href=""></a>Como llego</li>
      <li><a href=""></a>FAQS</li>
      <li><a href=""></a>Redes</li>
    </ul>
  </div>
  <img class="h-1/2" src="gatogordo.png" alt="gato" />
  <img class="h-20" src="fideos.svg" alt="fideos" />
</section>
