<div
  class="container mx-auto grid grid-cols-1 items-center gap-4 bg-primary text-backGround md:grid md:grid-cols-4 md:gap-0"
  id="faq">
  <div class="md:flex md:flex-col md:justify-center md:gap-8">
    <div>
      <p class="text-center">Copyright 2023</p>
      <img class="mx-auto h-16" src="logo.svg" alt="logo" />
    </div>
    <img src="ramenvacio.svg" alt="plato" class="mx-auto h-16" />
  </div>
  <div class="text-center md:text-left">
    <h4>FESTIVAL</h4>
    <ul>
      <li><a href="">Programa</a></li>
      <li><a href="">Entradas</a></li>
      <li><a href="">Merchandising</a></li>
    </ul>
  </div>
  <div class="text-center md:text-left">
    <h4>INFORMACIÓN</h4>
    <ul>
      <li><a href="">Cómo llegar</a></li>
      <li><a href="">FAQS</a></li>
      <li><a href="">Redes</a></li>
    </ul>
    <img src="instagram.svg" class="inline-block h-10" alt="instagram" />
    <img src="whatsapp.svg" class="inline-block h-10" alt="whatsapp" />
  </div>
  <img class="mx-auto h-60 w-60 md:mx-0" src="gatogordo.png" alt="gato" />
</div>
