---

---

<section class="sm:px-48 px-5 h-screen flex items-center gap-80">
    <div class="flex flex-col gap-5 text-white">
        <span class="text-3xl">16 al 20 Octubre - La Rural</span>
        <h1 class="uppercase text-7xl">
            Sabores que <br /> cuetan historias
        </h1>
        <p>Viví el festival de comida asiática más delicioso de la ciudad.</p>
        <div>
            <button
                class="s-color font-bold hidden sm:block highlight uppercase py-2 px-28 rounded-md hover:text-white"
                >Comprar Entradas</button
            >
        </div>
    </div>
    <img
        class="h-[80%] mr-20"
        src="heroLogoMobile.svg"
        alt="Hero Logo Mobile"
    />
</section>
