---

---

<header class='relative mx-auto h-screen justify-center'>
	<div class='text-white'>
		<span>16 al 20 Octubre - La Rural</span>
		<h1 class='text-4xl font-bold uppercase'>
			Sabores que <br /> cuetan historias
		</h1>
		<p>Viví el festival de comida asiática <br /> más delicioso de la ciudad.</p>
		<div>
			<button class='bg-highlight rounded-md px-28 py-2 font-bold uppercase'
				>Comprar Entradas</button
			>
		</div>
	</div>
	<!-- mr-20 mt-32 -->
	<img class='h-[60%] sm:h-[80%]' src='heroLogoMobile.svg' alt='Hero Logo Mobile' />
	<img
		class='absolute left-0 top-0 -z-20 h-screen w-screen object-cover'
		src='desk.svg'
		alt='desk'
	/>
</header>
