---

---

<div>
    <p>16 al 20 Octubre - La Rural</p>
    <h1 class="uppercase">Sabores cuetan historias</h1>
    <p>Viví el festival de comida asiática más delicioso de la ciudad.</p>
    <button class="uppercase">Comprar Entradas</button>
    <img src="heroLogoMobile.svg" alt="Hero Logo Mobile" />
</div>
