---

---

<section class="sm:px-48 px-5 h-screen flex items-center gap-80">
    <div class="flex flex-col gap-20">
        <span class="text-3xl">16 al 20 Octubre - La Rural</span>
        <h1 class="uppercase text-7xl">Sabores que <br /> cuetan historias</h1>
        <p>Viví el festival de comida asiática más delicioso de la ciudad.</p>
        <div>
            <button
                class="hidden sm:block highlight uppercase py-2 px-3 rounded-md"
                >Comprar Entradas</button
            >
        </div>
    </div>
    <img class="h-[60%]" src="heroLogoMobile.svg" alt="Hero Logo Mobile" />
</section>
