---

---

<section class='mx-auto flex h-screen items-center gap-80'>
    <div class='flex flex-col gap-5 text-white'>
        <span class='text-3xl'>16 al 20 Octubre - La Rural</span>
        <h1 class='text-7xl uppercase'>
            Sabores que <br /> cuetan historias
        </h1>
        <p>Viví el festival de comida asiática más delicioso de la ciudad.</p>
        <div>
            <button class='hidden rounded-md bg-highlight px-28 py-2 font-bold uppercase sm:block'
                >Comprar Entradas</button
            >
        </div>
    </div>
    <img class='mr-20 mt-32 h-[80%]' src='heroLogoMobile.svg' alt='Hero Logo Mobile' />
</section>
<img class='absolute left-0 top-0 -z-20 h-screen w-screen object-cover' src='desk.svg' alt='desk' />
