---
import Button from '@/components/Button.astro'
---

<div
  class="container mx-auto flex h-full flex-col items-center justify-evenly gap-4 md:flex md:flex-row md:justify-between">
  <div class="flex flex-col gap-2 text-center text-backGround lg:text-left">
    <span class="text-xl lg:text-2xl">16 al 20 Octubre - La Rural</span>
    <h1 class="text-2xl font-bold uppercase md:text-4xl lg:text-6xl">
      Sabores que <br /> cuetan historias
    </h1>
    <p class="text-xl lg:text-2xl">
      Viví el festival de comida asiática <br /> más delicioso de la ciudad.
    </p>
    <Button name="Comprar Entradas" display="w-full" buy="#entrada" />
  </div>
  <img
    loading="lazy"
    class="h-[25rem] lg:mt-12 lg:h-[45vw] lg:max-h-[45rem]"
    src="heroLogoMobile.svg"
    alt="Hero Logo Mobile"
  />
</div>
