<section class="flex flex-col gap-5">
  <div class="mr-0 justify-center">
    <h2 class="text-center text-2xl font-bold text-primary">
      ¿TE QUEDO ALGUNA DUDA?
    </h2>
    <p class="text-center text-sm font-bold text-primary">
      revisa nuestras preguntas frecuentes
    </p>
    <br />
    <ul class="flex w-full flex-col justify-center text-center text-sm gap-2">
      <li class="flex flex-row p-3"><p class="font-ubuntu font-bold text-sm">¿Se puede ingresar con alimentos?</p></li>
      <li class="flex flex-row p-3"><p class="font-ubuntu font-bold text-sm">¿A partir de que edad abonan entrada los menores?</p></li>
      <li class="flex flex-row p-3"><p class="font-ubuntu font-bold text-sm">¿A que horario se puede ingresar?</p><button class="block lg:hidden object-left"><img src="public/arrow_Vector.svg" alt=""></button></li>
      <li class="flex flex-row p-3"><label for=""><p class="font-ubuntu font-bold text-sm">¿Hay estacionamiento dentro del predio?</p></label></li>
    </ul>
  </div>
</section>

