<section class="flex flex-col gap-5">
  <div class="mr-0 justify-center">
    <h2 class="text-center text-2xl font-bold text-primary">
      ¿TE QUEDO ALGUNA DUDA?
    </h2>
    <p class="text-center text-sm font-bold text-primary">
      revisa nuestras preguntas frecuentes
    </p>
    <br />
    <ul class="flex w-full flex-col justify-center text-center text-sm gap-2">
      <li class="flex flex-row p-3"><p class="font-ubuntu font-bold text-sm">¿Se puede ingresar con alimentos?</p></li>
      <li class="flex flex-row p-3"><p class="font-ubuntu font-bold text-sm">¿A partir de que edad abonan entrada los menores?</p></li>
      <li class="flex flex-row p-3"><p class="font-ubuntu font-bold text-sm">¿A que horario se puede ingresar?</p><button class="block lg:hidden object-left"><img src="public/arrow_Vector.svg" alt=""></button></li>
      <li class="flex flex-row p-3"><label for=""><p class="font-ubuntu font-bold text-sm">¿Hay estacionamiento dentro del predio?</p></label></li>
    </ul>
  </div>
  <div class="font-bold text-primary bg-softblue lg: flex h-full w-full flex-col  p-10 text-2xl  before:gap-10">
    <div>
      <h2 class="text-center">DEJANOS TU MAIL</h2>
      <p class="text-sm text-center">
        Y recibi todas las novedades sobre el festival y los invitados
      </p>
    </div>
    <div class=" flex flex-col justify-center align-center rounded-md">
      <form class="shadow-lg input">
        <input
          type="text"
          placeholder="@email"
          class="flex mx-auto rounded-md bg-skyblue px-7 py-2 sm:"
        />
      </form>
      <button
        class="shadow-lg border-primary border-2 border-transparent hover:border-2 hover:border-orange-50 md:w-auto font-bold rounded-md bg-highlight px-7 py-2 uppercase text-primary lg:block"
        >Suscribir</button
      >
    </div>
  </div>
</section>
