<section class="flex flex-col gap-20">
  <div class="flex flex-col justify-center mr-0">
    <h2 class="text-center text-2xl font-bold text-primary">
      ¿TE QUEDO ALGUNA DUDA?
    </h2>
    <p class="text-center text-sm font-bold text-primary">
      revisa nuestras preguntas frecuentes
    </p>
    <br />
    <ul class="flex w-full flex-col justify-center text-center text-sm">
      <li><label for="">¿Se puede ingresar con alimentos?</label></li>
      <li>
        <label for="">¿A partir de que edad abonan entrada los menores?</label>
      </li>
      <li><label for="">¿A que horario se puede ingresar?</label></li>
      <li><label for="">¿Hay estacionamiento dentro del predio?</label></li>
    </ul>
  </div>
  <div
    class="flex w-full h-full before:gap-10 bg-softblue p-10 text-2xl font-bold text-primary">
    <div>
      <h2>DEJANOS TU MAIL</h2>
      <p class="text-sm">
        Y recibi todas las novedades sobre el festival y los invitados
      </p>
    </div>
    <div class="flex rounded-md">
      <form class="input">
        <input
          type="text"
          placeholder="email"
          class="mx-auto block bg-skyblue py-2 sm:px-28 rounded-md"
        />
      </form>
      <button
        class="mx-auto block rounded-md bg-highlight py-2 font-bold uppercase sm:px-28"
        >Suscribir</button
      >
    </div>
  </div>
</section>
