---
import info from '@/data/info.json'
---

<div class="container mx-auto flex flex-col gap-5">
  <div>
    <h2 class="text-center text-2xl font-bold text-primary">
      ¿TE QUEDO ALGUNA DUDA?
    </h2>
    <p class="text-center text-sm font-bold text-primary">
      Revisa nuestras preguntas frecuentes
    </p>

    {
      info.map(({ question, answer }) => (
        <ul>
          <li class="border-t-2 ">
            <p class="flex flex-row justify-between font-bold">
              {question}
              <img src="public/arrow_Vector.svg" alt="display answer" />
            </p>
          </li>
          <li>
            <p class=""> {answer}</p>
          </li>
        </ul>
      ))
    }
  </div>
</div>
