<section class="flex flex-col gap-20">
  <div class="mr-0 flex flex-col justify-center">
    <h2 class="text-center text-2xl font-bold text-primary">
      ¿TE QUEDO ALGUNA DUDA?
    </h2>
    <p class="text-center text-sm font-bold text-primary">
      revisa nuestras preguntas frecuentes
    </p>
    <br />
    <ul class="flex w-full flex-col justify-center text-center text-sm">
      <li><label for="">¿Se puede ingresar con alimentos?</label></li>
      <li>
        <label for="">¿A partir de que edad abonan entrada los menores?</label>
      </li>
      <li><label for="">¿A que horario se puede ingresar?</label></li>
      <li><label for="">¿Hay estacionamiento dentro del predio?</label></li>
    </ul>
  </div>
  <div
    class="font-bold text-primary bg-softblue lg: flex h-full w-full flex-col  p-10 text-2xl  before:gap-10">
    <div>
      <h2 class="text-center">DEJANOS TU MAIL</h2>
      <p class="text-sm text-center">
        Y recibi todas las novedades sobre el festival y los invitados
      </p>
    </div>
    <div class="flex flex-col justify-center align-center rounded-md">
      <form class="shadow-lg input w-auto">
        <input
          type="text"
          placeholder="@email"
          class="mx-auto block rounded-md bg-skyblue px-7 py-2 sm:px-28 w-auto"
        />
      </form>
      <button
        class="shadow-lg border-primary border-2 border-transparent hover:border-2 hover:border-red-500 md:w-auto font-bold rounded-md bg-highlight px-7 py-2 uppercase text-primary lg:block"
        >Suscribir</button
      >
    </div>
  </div>
</section>
