---

---

<div
  class="container mx-auto grid grid-cols-1 text-backGround md:grid-cols-2"
  id="comoLlego">
  <div class="flex flex-col justify-center gap-3 text-2xl">
    <h2 class="text-3xl font-bold underline">> COMO LLEGO</h2>
    <!-- <ul>
      <ul>
        <li class="font-bold underline">> UBICACIÓN:</li>
        <li>Av. Sarmiento 2704, Buenos Aires, Palermo Argentina</li>
      </ul>
      <ul>
        <li class="font-bold underline">> TRANSPORTES:</li>
        <li>
          Colectivos: 0, 12, 15, 29, 36, 37, 38, 39, 41, 42, 55, 59, 60, 64, 67,
          68, 93, 95, 108, 111, 118, 124, 141, 152, 160, 161 y 188
        </li>
      </ul>
    </ul> -->
    <h3 class="font-bold underline">> UBICACIÓN:</h3>
    <p>Av. Sarmiento 2704, Buenos Aires, Palermo Argentina</p>
    <h3 class="font-bold underline">> TRANSPORTES:</h3>
    <p>
      <span class="block font-bold underline">Colectivos:</span>
      0, 12, 15, 29, 36, 37, 38, 39, 41, 42, 55, 59, 60, 64, 67, 68, 93, 95, 108,
      111, 118, 124, 141, 152, 160, 161 y 188
      <br />
      <span class="block font-bold underline">Subte:</span> Línea D – Estación Plaza
      Italia
    </p>
  </div>
  <div>
    <h3 class="text-3xl">ACCESOS</h3>
    <img src="mapaingresos.svg" alt="Mapa de ingreso" />
  </div>
</div>
