---

---

<div class="container mx-auto text-backGround" id="comoLlego">
  <h2 class="mb-8 text-center text-2xl font-bold md:text-4xl">COMO LLEGO</h2>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col justify-around gap-3">
      <div class="flex flex-col md:gap-6">
        <h3 class="text-xl font-bold underline md:text-2xl">> UBICACIÓN:</h3>
        <p>Av. Sarmiento 2704, Buenos Aires, Palermo Argentina</p>
      </div>
      <div class="flex flex-col gap-6">
        <h3 class="text-xl font-bold underline md:text-2xl">> TRANSPORTES:</h3>
        <div>
          <p class="max-w-xl">
            <span class="mb-2 block text-xl font-bold underline md:mb-5">
              Colectivos:</span
            >
            0, 12, 15, 29, 36, 37, 38, 39, 41, 42, 55, 59, 60, 64, 67, 68, 93, 95,
            108, 111, 118, 124, 141, 152, 160, 161 y 188
          </p>
        </div>
        <div>
          <p>
            <span class="mb-2 block text-xl font-bold underline md:mb-5"
              >Subte:</span
            > Línea D – Estación Plaza Italia
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-around">
      <h3 class="translate-y-12 text-xl font-bold underline md:text-2xl">
        ACCESOS
      </h3>
      <img class="max-h-[30rem]" src="mapaingresos.svg" alt="Mapa de ingreso" />
    </div>
  </div>
</div>

<!-- <ul>
      <ul>
        <li class="font-bold underline">> UBICACIÓN:</li>
        <li>Av. Sarmiento 2704, Buenos Aires, Palermo Argentina</li>
      </ul>
      <ul>
        <li class="font-bold underline">> TRANSPORTES:</li>
        <li>
          Colectivos: 0, 12, 15, 29, 36, 37, 38, 39, 41, 42, 55, 59, 60, 64, 67,
          68, 93, 95, 108, 111, 118, 124, 141, 152, 160, 161 y 188
        </li>
      </ul>
    </ul> -->
