---

---

<section class="location-Container" id="comoLlego">
    <div class="map">
        <h2>COMO LLEGO</h2>
        <h3>UBICACIÓN</h3>
        <p>Av. Sarmiento 2704, Buenos Aires, Palermo Argentina</p>
        <h3>TRANSPORTES</h3>
        <p>
            <span>Colectivos:</span> 0, 12, 15, 29, 36, 37, 38, 39, 41, 42, 55, 59,
            60, 64, 67, 68, 93, 95, 108, 111, 118, 124, 141, 152, 160, 161 y 188
            Subte: Línea D – Estación Plaza Italia
        </p>
        <h3>ACCESOS</h3>
        <img src="mapaingresos.svg" alt="Mapa de ingreso" />
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52563.484426666764!2d-58.462215331135276!3d-34.57335575372265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59c771eb933%3A0x6b3113b596d78c69!2sPalermo%2C%20CABA!5e0!3m2!1ses!2sar!4v1705694056816!5m2!1ses!2sar"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
