<section>
    <h2>NO TE PIERDAS NADA</h2>
    <p class="">Te mostramos un poco del cronograma</p>
    <div class="day"></div>
    <div class="day"></div>
    <div class="day"></div>
    <div class="day"></div>
    <div class="day"></div>
</section>
