---

---

<div class="relative isolate w-full">
  <div class="absolute h-full w-full bg-black opacity-30"></div>
  <div
    class="absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 flex-col items-center gap-3">
    <img src="map_pin.svg" alt="pin place" class="h-20" />
    <h2 class="text-2xl font-bold text-backGround md:text-4xl">Asia Gourmet</h2>
    <a
      href="https://www.google.com.ar/maps/place/Rural/@-34.5812132,-58.4214188,17z/data=!4m6!3m5!1s0x95bcb55d503d799b:0x19a7d29b78ebb458!8m2!3d-34.58014!4d-58.4221376!16s%2Fg%2F11sz0h9f0c?entry=ttu"
      target="_blank"
      class="border-primary rounded-3xl border-2 border-transparent bg-backGround px-7 py-2 text-xl shadow-lg hover:border-2 hover:border-[#ffc700]"
      >Ver en Maps</a
    >
  </div>

  <img src="place.png" alt="place map" class="h-[550px] w-full object-cover" />
</div>
