---

---

<div
  class="container mx-auto flex h-[40rem] flex-col items-center text-primary lg:h-[55rem]"
  id="merch">
  <h2 class="text-4xl font-bold">PRODUCTOS OFICIALES</h2>
  <p class="text-2xl font-bold">
    Edición limitada hasta agotar stock de todas las unidades
  </p>
  <img class="h-[250rem]" src="merch.svg" alt="products" />
</div>
