---

---

<div
  class="container mx-auto flex h-full flex-col items-center text-primary"
  id="merch">
  <div class="text-center">
    <h2 class="text-2xl font-bold md:text-4xl">PRODUCTOS OFICIALES</h2>
    <p class="text-xl md:text-2xl">
      Edición limitada hasta agotar stock de todas las unidades
    </p>
  </div>
  <img
    class="aspect-[1/1] w-full flex-1 md:h-[30vh] lg:h-[40vw]"
    src="merch.png"
    alt="products"
  />
</div>
