---

---

<section class='merchandaising-Container' id='merch'>
	<p>
		<span>20% DESCUENTO</span>
		En todo el merchandising oficial sacando tus entradas anticipadas
	</p>
	<h2>PRODUCTOS OFICIALES</h2>
	<p>Edición limitada hasta agotar stock de todas las unidades</p>
	<img class='h-20' src='merch.svg' alt='products' />
</section>
