---

---

<div class="container mx-auto flex h-screen flex-col items-center" id="merch">
  <h2 class="text-4xl font-bold text-primary">PRODUCTOS OFICIALES</h2>
  <p class="text-2xl font-bold text-primary">
    Edición limitada hasta agotar stock de todas las unidades
  </p>
  <img class="h-[250rem]" src="public/merch.svg" alt="products" />
</div>
