---

---

<div
  class="container mx-auto flex flex-col items-center text-primary"
  id="merch">
  <h2 class="text-4xl font-bold">PRODUCTOS OFICIALES</h2>
  <p class="text-2xl">
    Edición limitada hasta agotar stock de todas las unidades
  </p>
  <img
    class="aspect-[1/1] h-[20vh] md:h-[30vh] lg:h-[40vw]"
    src="merch.png"
    alt="products"
  />
</div>
