---

---

<div class="absolute left-0 right-0 w-full bg-primary p-4">
  <nav
    class="mx-auto flex h-full max-w-[1550px] items-center justify-between text-lg uppercase">
    <img width="200" class="w-20 md:w-28 lg:w-36" src="./logo.svg" alt="logo" />

    <button class="block lg:hidden">
      <img
        id="menu"
        class="h-8"
        src="hamburger.svg"
        alt="haburguer"
        aria-expanded="false"
      />
    </button>

    <ul
      class="absolute left-0 right-0 top-16 hidden h-full flex-col items-center gap-4 bg-primary text-white lg:static lg:flex lg:flex-row"
      role="menubar">
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#programa">programa</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#entradas">entradas</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#merch">merch</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#comoLlego">como llego</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#faq">faq</a
        >
      </li>
    </ul>

    <button
      class="hidden rounded-md bg-highlight px-3 py-2 uppercase lg:block"
      id="#entradas">
      Entradas
    </button>
  </nav>
</div>
<script>
  const navBtn = document.querySelector('#menu')
  const menuBar = document.querySelector('[role="menubar"]')

  navBtn.addEventListener('click', () => {
    const isExpandad = navBtn.getAttribute('aria-expanded')
    navBtn.setAttribute('aria-expanded', new Boolean(!isExpandad).toString())
    menuBar.classList.toggle('hidden')
    menuBar.classList.toggle('flex')
  })
</script>
