---
import Button from './Button.astro'
---

<nav class="container mx-auto">
  <div class="flex items-center justify-between text-xl uppercase">
    <img class="w-20 md:w-28 lg:w-40" src="public/logo.svg" alt="logo" />

    <button class="block lg:hidden">
      <img
        id="menu"
        class="h-8"
        src="public/hamburger.svg"
        alt="haburguer"
        aria-expanded="false"
      />
    </button>

    <ul
      class="absolute left-0 right-0 top-16 z-10 hidden h-full flex-col items-center justify-center gap-6 bg-primary text-white lg:static lg:flex lg:flex-row"
      role="menubar">
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#programa">programa</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#entrada">entradas</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#merch">merch</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#comoLlego">como llego</a
        >
      </li>
      <li>
        <a
          role="menuitem"
          class="rounded-lg px-4 py-2 decoration-2 underline-offset-4 hover:bg-highlight hover:underline"
          href="#faq">faq</a
        >
      </li>
    </ul>

    <Button name="Entrada" buy="entradas" display="hidden" />
  </div>
</nav>

<script>
  const navBtn = document.querySelector('#menu')
  const menuBar = document.querySelector('[role="menubar"]')

  navBtn.addEventListener('click', () => {
    const isExpandad = navBtn.getAttribute('aria-expanded')
    navBtn.setAttribute('aria-expanded', new Boolean(!isExpandad).toString())
    menuBar.classList.toggle('hidden')
    menuBar.classList.toggle('flex')
  })
</script>
