---
import Card from './Card.astro'
---

<section id="ticket-Container" class="mx-auto justify-center bg-primary">
  <img src="public/fideos.svg" alt="ramen" class="relative object-left-top" />
  <img src="public/fideos.svg" alt="ramen" class="object-right-top" />
  <h1 class="flex justify-center text-xl text-white">
    BENEFICIOS CON TUS ANTICIPADAS
  </h1>
  <p class="flex justify-center text-white">
    podes sacar para todos los días, uno o armar tu propio combo
  </p>
  <br />
  <Card />
  <img src="public/fideos.svg" alt="ramen" class="object-left-bottom" />
  <img src="public/fideos.svg" alt="ramen" class="object-right-bottom" />
</section>
