---
import Card from '@/components/Card.astro'
---

<section id="ticket-Container" class="mx-auto justify-center bg-primary">
  <div class="container relative mx-auto flex flex-col justify-center py-28 md:py-32">
    <img src="public/fideos.svg" alt="ramen" class="absolute left-0 top-0 object-left-top" />
    <img src="public/fideos.svg" alt="ramen" class="absolute right-0 top-0 object-left-top" />

  <h1 class="py-4 text-center text-2xl text-white">
    BENEFICIOS CON TUS ANTICIPADAS
  </h1>
  <p class="pb-4 text-center text-white">
    podes sacar para todos los días, uno o armar tu propio combo
  </p>
  <br />
  <Card />
    <img src="public/fideos.svg" alt="ramen" class="absolute bottom-0 left-0 rotate-180 object-left-top" />
    <img src="public/fideos.svg" alt="ramen" class="absolute bottom-0 right-0 rotate-180 object-left-top" />
  </div>
</section>
