---
import Card from './Card.astro'
---

<section id="ticket-Container" class="mx-auto justify-center bg-primary">
  <div class="row-span-1 flex flex-row">
    <img src="public/fideos.svg" alt="ramen" class="flex h-24" />
    <img src="public/fideos.svg" alt="ramen" class="flex h-24" />
  </div>

  <h1 class="flex justify-center text-xl text-white">
    BENEFICIOS CON TUS ANTICIPADAS
  </h1>
  <p class="flex justify-center text-white">
    podes sacar para todos los días, uno o armar tu propio combo
  </p>
  <br />
  <Card />
  <div class="flex flex-row">
    <img src="public/fideos.svg" alt="ramen" class="flex h-24" />
    <img src="public/fideos.svg" alt="ramen" class="flex h-24" />
  </div>
</section>
