---
import Card from '@/components/Card.astro'
---

<div
  id="entrada"
  class="container relative mx-auto flex h-[110vh] flex-col justify-center px-4">
  <div>
    <img
      src="public/fideos.svg"
      alt="ramen"
      class="absolute left-0 top-0 object-left-top"
    />
    <img
      src="public/fideos.svg"
      alt="ramen"
      class="absolute right-0 top-0 object-left-top"
    />
    <img
      src="public/fideos.svg"
      alt="ramen"
      class="absolute bottom-0 left-0 rotate-180 object-left-top"
    />
    <img
      src="public/fideos.svg"
      alt="ramen"
      class="absolute bottom-0 right-0 rotate-180 object-left-top"
    />
    <h2 class="py-4 text-center text-2xl text-white">
      BENEFICIOS CON TUS ANTICIPADAS
    </h2>
    <p class="pb-4 text-center text-white">
      Podes sacar para todos los días, uno o armar tu propio combo
    </p>
    <Card />
  </div>
</div>
