---
import Card from './Card.astro'
---

<section id="ticket-Container" class="justify-center bg-primary mx-auto ">
  <img src="fideos.svg" alt="ramen" class="object-left-top relative"/>
  <img src="fideos.svg" alt="ramen" class="object-right-top"/>
  <h1 class="text-xl text-white flex justify-center">BENEFICIOS CON TUS ANTICIPADAS</h1>
  <p class="flex justify-center text-white">podes sacar para todos los días, uno o armar tu propio combo</p>
  <br>
  <Card />
  <img src="fideos.svg" alt="ramen" class="object-left-bottom"/>
  <img src="fideos.svg" alt="ramen" class="object-right-bottom"/>
</section>
