---
import '@/styles/global.css'
import Header from '@/components/Navbar.astro'
import Hero from '@/components/Hero.astro'
const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='Astro description' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/logo.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
    </head><body class='mx-auto bg-white text-neutral-900 max-w-[2000px]'>
        <Header />
        <Hero />
        <img class='absolute top-0 -z-20 h-screen w-screen object-cover' src='desk.svg' alt='' />
        <slot />
    </body>
    <slot />
    />
</html>
