---
import "../styles/global.css";
import Header from "@/components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	:root {
		--primari-color: #ffffff;
		--secondary-color: #004091;
		--third-color: #b8311e;
		--fourth-color: #d68285;
		--higligt: #ffc700;
		/* color-scheme: light dark; */
	}
	.p-color {
		background-color: var(--primari-color);
	}
	.s-color {
		background-color: var(--secondary-color);
	}
	.t-color {
		background-color: var(--third-color);
	}
	.f-color {
		background-color: var(--fourth-color);
	}
	.highlight {
		background-color: var(--higligt);
	}

	.bg-conic {
		--color: #8cbbf2;
		background: repeating-conic-gradient(
			at 50% 103%,
			var(--secondary-color) 0 5deg,
			var(--color) 5deg 10deg
		);
	}
</style>
